@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap");

.signupbutton {
  font-size: 15px;
  padding: 23px 73px;
  background-color: #415e4c;
  box-shadow: 0px 4px 10px rgb(108 128 114);
  border: 2px white solid;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #587360;
  --bs-btn-hover-border-color: #587360;
  --bs-btn-hover-color: #fff;
}

.login-button {
  font-size: 15px;
  padding: 23px 60px;
  background-color: #587360;
  box-shadow: 0px 4px 10px rgb(88 115 96);
  border: 2px #587360 solid;
  padding: 23px 73px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #415e4c;
  --bs-btn-hover-border-color: #ffffff;
}




.footer {
  font-family: "Nunito", sans-serif;
}
.line2 {
  width: 100%;
  border: 1px white dashed;
  margin: 20px 0 40px 0;
}
