@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap");


img.Almacena {
  width: 20%;
}

li.nav-item {
  margin: 0 10px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: #415e4c !important;
}

.signupbutton {
  font-size: 15px;
  padding: 16px 70px;
  background-color: #415e4c;
  box-shadow: 0px 4px 10px rgb(108 128 114);
  border: 2px white solid;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #587360;
  --bs-btn-hover-border-color: #587360;
  --bs-btn-hover-color: #fff;
}

.login-button {
  padding: 16px 70px;
  font-size: 15px;
  background-color: #587360;
  box-shadow: 0px 4px 10px rgb(88 115 96);
  border: 2px #587360 solid;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #415e4c;
  --bs-btn-hover-border-color: #ffffff;
}

.logoutbutton {
  font-size: 15px;
  padding: 16px 70px;
  background-color: #343a40;
  box-shadow: 0px 4px 10px rgb(88 115 96);
  border: 2px #587360 solid;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #783a3a;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-hover-color: #ffffff;
}

.logoutbutton.btn.btn-outline-light {
  margin: 0 auto;
  display: block;
  font-size: 15px;
  padding: 16px 70px;
  background-color: #343a40;
  box-shadow: 0px 4px 10px rgb(88 115 96);
  border: 2px #587360 solid;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #783a3a;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-hover-color: #ffffff;
}


.donate-button {
  margin: 0 auto;
  display: block;
  font-size: 15px;
  padding: 16px 70px;
  font-size: 15px;
  background-color: #587360;
  box-shadow: 0px 4px 10px rgb(88 115 96);
  border: 2px #587360 solid;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  --bs-btn-hover-bg: #415e4c;
  --bs-btn-hover-border-color: #ffffff;
}



.footer {
  font-family: "Nunito", sans-serif;
}


.line2 {
  width: 100%;
  border: 1px white dashed;
  margin: 20px 0px;
}

.bgfooter{
  background-color: #415e4c;
    padding-top: 40px;
}

p.copyright {
  padding-bottom: 20px;
  text-align: center;
  font-weight: 300;
  color: white;
  font-size: 13px;
}

p.contacto {
  padding-bottom: 20px;
  text-align: left;
  font-weight: 300;
  color: white;
}

.card-title.h5 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

th {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.list-group-item:last-child {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card-footer {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  img.Almacena {
    width: 56%;
}

.login-button {
  width: 100%;
}

button.navbar-toggler {
  margin-right: 30px;
}

.navbar-toggler {
  color: #415e4c;}
  

.navbar-toggler {
  background-color: #587360;
  border: var(--bs-border-width) solid rgb(255 255 255 / 81%);
}


button.login-button.text-white.btn.btn-light {
    margin-bottom: 20px;

}

button.signupbutton.text-white.btn.btn-primary{
  margin-top: 20px;
  margin-bottom: 20px;
}
}
