@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');



.titulo-login {
    color: #000;
    padding-top: 0px;
    padding-bottom: 30px;
}

.formulario {
    background-color: white;
    padding: 120px 80px;
}

.formulario-forgot {
    background-color: white;
    padding: 240px 80px;
}

.formulario-signup {
    background-color: white;
    padding: 150px 80px;
}

a:hover {
    color: #587360;
    font-weight: 500;
}
a {
    font-weight: 500;
    color: #415e4c;
}
.muestra {
    padding: 120px 80px;
    background: #415E4C;
    background-position-x: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

span.toggle-password {
    color: grey;
}

.mb-3 {
    margin-bottom: 2.5rem !important;
}

.parrafo-login {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

.form-control {
    border: var(--bs-border-width) solid #cdcfce;
}

.form-check-input {
    border: var(--bs-border-width) solid #bdbdbd;
}



.btn-primary {
    --bs-btn-padding-y: 0.650rem;
    width: 100%;
    --bs-btn-color: #fff;
    --bs-btn-bg: #415e4c;
    --bs-btn-border-color: #415e4c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #587360;
    --bs-btn-hover-border-color: #587360;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #587360;
    --bs-btn-active-border-color: #587360;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #587360;
    --bs-btn-disabled-border-color: #587360;
}

.forgot-password {
    padding: 34px 0px;
    text-align: center;
}

.no-account {
    text-align: center;
}

span {
    font-weight: 600;
    color: #415e4c;
}

img.cucharas {
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    width: 50%;
}

h4 {
    text-align: center;
    padding-bottom: 18px;
    padding-top: 36px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.5em;
    line-height: 1;
}

.p-login {
    text-align: center;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.alert-success{
    --bs-alert-color: #415e4c;
    --bs-alert-bg: #c3c8c5;
    --bs-alert-border-color: #415e4c;
    --bs-alert-link-color: #415e4c;
    }

    